body {
  font-family: YakuHanJPsLight,proxima-nova,-apple-system,BlinkMacSystemFont,Avenir Next,Avenir,Yu Gothic Medium,游ゴシック Medium,YuGothic,游ゴシック体,ヒラギノ角ゴ ProN W3,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
  margin: 0;
  font-size: 100%;
  user-select: none;
}
.container {
  display: grid;
  gap: 10px;
  grid-template-rows: 100vh auto 408px;    
  grid-template-columns: 200px auto;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}
a {
  text-decoration: none;
  color: #4b4b4b;
}
a:hover {
  color: #131212;
  transition: all .4s;
}
.header {
  grid-area: header;
  position: relative;
}
.sub-image {
  background-image: url(https://github.com/yowsee/portfolio/blob/main/images/solid.jpg?raw=true);
  background-size: cover;
  position: absolute;
  top: 90px;
  left: 0;
  width: 90%;
  height: 85%;
}
.main-image {
  background-image: url(https://github.com/yowsee/portfolio/blob/main/images/main.jpg?raw=true);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50px;
  right: 0;
  width: 90%;
  height: 85%;
}
.top-contents {
  position: absolute;
  bottom: 10%;
  left: 82px;
  color: white;
  text-align: center;
}
.main-title {
  font-size: 70px;
  letter-spacing: 10px;
  margin: 10px 0;
}
.sub-title {
  font-size: 70px;
  letter-spacing: 10px;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.sub-title span {
  font-size: 70px;
  letter-spacing: 10px;
  margin: 10px 0;
  color: white;
}
.aside {
  grid-area: sidebar;
}
.menu-content {
  top: 40px;
  position: sticky;
}
.menu-list {
  display: grid;
  gap: 10px;
  padding-left: 10px; 
  margin-top: 49px;
  list-style: none;
  text-align: start;
}
.menu-list li {
  padding: 0;
  margin-left: 10px;
}
.menu-list p {
  color: #4b4b4b;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}
.menu-list p:hover {
  color: #131212;
  font-weight: 700;
  transition: all .4s;
}
.main {
  grid-area: main;
  margin-right: 10px;
}
.main-header {
  color: #131212;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  margin: 60px 0 0 0;
}
.create_memo {
  width: 100%; 
  color: white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  border: none;
  border-radius: 4px;
  position: relative;
  background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #4b4b4b 84%, #4b4b4b 100%);
  cursor: pointer;
  margin: 50px auto 10px;
  padding: 20px 0 13px 0;
}
.create_memo:hover {
  background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #131212 84%, #131212 100%);
  font-weight: 500;
  transition: all .4s;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: inherit;
  width: 60%;
  position: fixed;
  text-align: center;
  overflow: hidden;
  background: rgb(160, 160, 160);
  border-radius: 4px;
  border: 2px solid rgb(160, 160, 160);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.95);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  cursor: default;
}
.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.modal h2 {
  text-align: center;
  justify-content: center;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  background: rgb(160, 160, 160);
  max-width: 100%;
  padding: 20px;
  margin: 0;
}
.textarea {
  height: 298px;
  width: 100%;
  display: flex;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
}
.modal button {
  width: calc(100% - 20px);
  height: 40px;
  background: #4b4b4b;
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal button:hover {
  background: #131212;
  font-weight: 600;
  transition: all .4s;
}
.add_memo {
  margin: 10px;
}
.cancel_memo {
  margin: 0 10px 10px 10px;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #131212;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  cursor: pointer;
}
.mask.active {
  opacity: 0.7;
  visibility: visible;
}
.memo {
  min-height: 1200px;
  background-color: #00395647;
  border-radius: 4px;
  padding-top: 10px;
}
.memo h2 {
  color: #131212;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px;
}
.memo ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 10px;
}
.memo li {
  position: relative;
  height: 200px;
  border-radius: 4px;
  font-weight: 300;
  overflow-y: scroll;
  background-color: white;
  padding: 35px 5px 5px 5px;
}
.deleteButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #4b4b4b;
  border: none;
  pointer-events: none;
}
.deleteButton:hover {
  background: #131212;
}
.deleteButton i {
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding-right: 5px;
  pointer-events: auto;
}
.deleteButton i:hover {
  font-size: 16px;
}
.footer {
  grid-area: footer;
  background: rgb(230, 230, 230);
  margin-top: 50px;
}
.footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.footer li {
  margin: 0 20px;
  cursor: pointer;
}
.footer img {
  display: block;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}
.footer img:hover {
  opacity: 1;
  transition: all .4s;
}
.upper-footer {
  margin-top: 100px;
  margin-bottom: 0;
}
.lower-footer {
  margin: 70px auto 100px;
}
.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 15px 10px;
  z-index: 1;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
.nav-menu li {
  margin-left: 30px;
}
.nav-menu p {
  display: block;
  margin: 0;
  color: #4b4b4b;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}
.nav-menu P:hover {
  color: #131212;
  font-weight: 700;
  transition: all .4s;
}
.nav-menu i {
  display: none;
}
input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}
.menu-btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    background-color: rgba(145, 145, 145, 0.1);
    gap: 10px;
    grid-template-rows: 120px auto 430px 76px;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
  }
  .header {
    position: fixed;
    background-image: url(https://github.com/yowsee/portfolio/blob/main/images/sub.jpg?raw=true);
    background-size: cover;
    width: 100%;
    height: 120px;
    z-index: 3;
  }
  .sub-image {
    display: none;
  }
  .main-image {
    display: none;
  }
  .top-contents {
    position: relative;
    top: 6px;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .main-title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
  }
  .sub-title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    color: transparent;
    margin: 0;
    padding: 0;
  }
  .sub-title span {
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .menu-btn {
    position: fixed;
    top: 48px;
    left: 18px;
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    transition: all .4s;
  }
  .menu-btn span::before {
    bottom: 10px;
  }
  .menu-btn span::after {
    top: 10px;
  }
  input[type="checkbox"]:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0)
  }
  input[type="checkbox"]:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  input[type="checkbox"]:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .menu-content {
    position: fixed;
    display: block;
    top: 120px;
    left: -1000px;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(200, 200, 200, 0.9);
    overflow-y: scroll;
    transition: all .4s;
    z-index: 1;
  }
  input[type="checkbox"]:checked ~ .menu-content {
    left: 0;
  }
  .menu-list {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 80px 70px;
    margin-bottom: 215px;
  }
  .menu-list li {
    margin: 0 0 10px 0;
    border-bottom: 2px solid;
    border-bottom-color: #4b4b4b;
    cursor: pointer;
  }
  .menu-list li:hover {
    border-bottom-color: #131212;
  }
  .menu-list p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    text-indent: 2rem;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 400;;
    letter-spacing: 5px;
  }
  .menu-list p:hover {
    color: #131212;
    font-weight: 600;
  }
  .aside {
    grid-area: unset;
  }
  .main {
    margin-left: 10px;
  }
  .main-header {
    margin: 140px 0 0;
  }
  .modal {
    width: 80%;
    overflow: hidden;
  }
  .modal button {
    font-size: 14px;
  }
  .memo ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 2fr));
    gap: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    margin: 10px;
  }
  .nav-menu ul {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(160, 160, 160);
    z-index: 2;
  }
  .nav-menu li {
    margin: 30px auto;
    position: relative;
    width: 40px;
    height: 30px;
  }
  .nav-menu i {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #4b4b4b;
  }
  .nav-menu i:hover {
    color: #131212;
  }
  .nav-menu p {
    padding: 7px 10px;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: default;
  }
  .nav-menu p:hover {
    font-weight: 600;
    color: white;
  } 
  .box01 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -17px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box01:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 24px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box02 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -34px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box02:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 41px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box03 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -18px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box03:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 25px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box04 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -36px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box04:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 43px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box05 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -29px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box05:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 35px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 120px auto 430px 50px;
  }
  .menu-list p {
    font-size: 20px;
    text-indent: 1rem;
  }
  .nav-menu ul {
    height: 60px;
    align-items: center;
  }
  .nav-menu i {
    font-size: 25px;
    padding-top: 5px;
  }
}

@media (hover: hover) {
  .nav-menu li:hover .box01 {
    display: block;
  }
  .nav-menu li:hover .box02 {
    display: block;
  }
  .nav-menu li:hover .box03 {
    display: block;
  } 
  .nav-menu li:hover .box04 {
    display: block;
  } 
  .nav-menu li:hover .box05 {
    display: block;
  }  
}
