body {
  font-family: YakuHanJPsLight,proxima-nova,-apple-system,BlinkMacSystemFont,Avenir Next,Avenir,Yu Gothic Medium,游ゴシック Medium,YuGothic,游ゴシック体,ヒラギノ角ゴ ProN W3,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
  margin: 0;
  font-size: 100%;
  user-select: none;
}
.container {
  display: grid;
  gap: 10px;
  grid-template-rows: 100vh auto 408px;    
  grid-template-columns: 200px auto;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}
a {
  text-decoration: none;
  color: #4b4b4b;
}
a:hover {
  color: #131212;
  transition: all .4s;
}
.header {
  grid-area: header;
  position: relative;
}
.sub-image {
  background-image: url(https://github.com/yowsee/portfolio/blob/main/images/solid.jpg?raw=true);
  background-size: cover;
  position: absolute;
  top: 90px;
  left: 0;
  width: 90%;
  height: 85%;
}
.main-image {
  background-image: url(https://github.com/yowsee/portfolio/blob/main/images/main.jpg?raw=true);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50px;
  right: 0;
  width: 90%;
  height: 85%;
}
.top-contents {
  position: absolute;
  bottom: 14%;
  left: 82px;
  color: white;
  text-align: center;
}
.main-title {
  font-size: 70px;
  letter-spacing: 10px;
  margin: 10px 0;
}
.sub-title {
  font-size: 70px;
  letter-spacing: 10px;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.sub-title span {
  font-size: 70px;
  letter-spacing: 10px;
  margin: 10px 0;
  color: white;
}
.aside {
  grid-area: sidebar;
}
.menu-content {
  top: 40px;
  position: sticky;
}
.menu-list {
  display: grid;
  gap: 10px;
  padding-left: 10px; 
  margin-top: 49px;
  list-style: none;
  text-align: start;
}
.menu-list li {
  padding: 0;
  margin-left: 10px;
}
.menu-list p {
  color: #4b4b4b;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}
.menu-list p:hover {
  color: #131212;
  font-weight: 700;
  transition: all .4s;
}
.main {
  grid-area: main;
  margin-right: 10px;
}
.main-header {
  text-align: center;
  color: #131212;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  margin: 60px 0 0 0;
}
.label p {
  color: white;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #131212  84%, #131212  100%);
  border-radius: 4px;
  text-align: left;
  margin: 50px auto 0px;
  padding: 20px 0 20px 20px;
}
.label p span {
  font-size: 14px;
}
.main-contents {
  display: flex;
  flex-direction: column;
}
.selectbox {
  justify-content: flex-end;
  border: 2px solid #003956b5; 
  border-radius: 4px;
  margin: 20px 0 10px 0;
  display: none;
  transition: all .4s;
}
.selectbox h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 20px;
  margin: 0 auto 0 0;
}
.selectbox select {
  display: flex;
/*   align-items: center; */
/*   justify-content: center; */
  width: 300px;
  height: 22px;
  background: #4b4b4b;
  color: white;
/*   text-align: -webkit-center; */
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 0;
  border: none;
  outline: none;
}
.reps {
  padding-left: 42%;
}
.reps {
  padding-left: 43%;
}
.selectbox select:hover {
  background: #131212;
  font-weight: 600;
  transition: all .4s;
}
.selectbox a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 22px;
  background: #4b4b4b;
  color: white;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 0;
}
.selectbox a:hover {
  background: #131212;
  border: 1px solid #4b4b4b00;
  font-weight: 600;
  transition: all .4s;
}
.item {
  justify-content: flex-end;
  background-color: #003956b5;
  border-radius: 4px;
  margin-top: 10px;
  display: none;
  transition: all .4s;
}
input[type="checkbox"]:checked ~ .item {
  display: flex;
}
input[type="checkbox"]:checked ~ .selectbox {
  position: absolute;
  left: -800px;
}
.item-todo {
  margin: auto;
  margin-left: 0;
}  
.todo {
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 20px;
}
.item h2:last-child {
  font-size: 14px;
  padding-left: 40px;
}
.line {
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
  text-decoration-style: double;
  text-decoration-color: white;
}
.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 22px;
  background: #4b4b4b;
  color: white;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 5px 5px 0;
}
.item a:hover {
  background: #131212;
  font-weight: 600;
  transition: all .4s;
}
.footer {
  grid-area: footer;
  background: rgb(230, 230, 230);
  margin-top: 50px;
}
.footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.footer li {
  margin: 0 20px;
  cursor: pointer;
}
.footer img {
  display: block;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}
.footer img:hover {
  opacity: 1;
  transition: all .4s;
}
.upper-footer {
  margin-top: 100px;
  margin-bottom: 0;
}
.lower-footer {
  margin: 70px auto 100px;
}
.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 15px 10px;
  z-index: 1;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
.nav-menu li {
  margin-left: 30px;
}
.nav-menu p {
  display: block;
  margin: 0;
  color: #4b4b4b;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}
.nav-menu P:hover {
  color: #131212;
  font-weight: 700;
  transition: all .4s;
}
.nav-menu i {
  display: none;
}
input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}
.menu-btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    background-color: rgba(145, 145, 145, 0.1);
    gap: 10px;
    grid-template-rows: 120px auto 430px 76px;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
  }
  .header {
    position: fixed;
    background-image: url(https://github.com/yowsee/portfolio/blob/main/images/sub.jpg?raw=true);
    background-size: cover;
    width: 100%;
    height: 120px;
    z-index: 3;
  }
  .sub-image {
    display: none;
  }
  .main-image {
    display: none;
  }
  .top-contents {
    position: relative;
    top: 6px;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .main-title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
  }
  .sub-title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    color: transparent;
    margin: 0;
    padding: 0;
  }
  .sub-title span {
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .menu-btn {
    position: fixed;
    top: 48px;
    left: 18px;
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    transition: all .4s;
  }
  .menu-btn span::before {
    bottom: 10px;
  }
  .menu-btn span::after {
    top: 10px;
  }
  input[type="checkbox"]:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0)
  }
  input[type="checkbox"]:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  input[type="checkbox"]:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .menu-content {
    position: fixed;
    display: block;
    top: 120px;
    left: -1000px;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(200, 200, 200, 0.9);
    overflow-y: scroll;
    transition: all .4s;
    z-index: 1;
  }
  input[type="checkbox"]:checked ~ .menu-content {
    left: 0;
  }
  .menu-list {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 80px 70px;
    margin-bottom: 215px;
  }
  .menu-list li {
    margin: 0 0 10px 0;
    border-bottom: 2px solid;
    border-bottom-color: #4b4b4b;
    cursor: pointer;
  }
  .menu-list li:hover {
    border-bottom-color: #131212;
  }
  .menu-list p {
    margin: 0;
    padding: 10px 0;
    display: flex;
    text-indent: 2rem;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .menu-list p:hover {
    color: #131212;
    font-weight: 600;
    font-weight: bolder;
  }
  .aside {
    grid-area: unset;
  }
  .main {
    margin-left: 10px;
  }
  .main-header {
    margin: 140px 0 50px 0;
  }
  .content-item {
    position: relative;
    top: -130px;
  }
  .content-items {
    position: relative;
    top: -110px;
  }
  .label {
    display: block;
  }
  .label p {
    position: relative;
    background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #4b4b4b 84%, #4b4b4b 100%);
    font-weight: 300;
    cursor: pointer;
    margin: 20px auto 0px;
  }
  .main-contents {
    display: none;
  }
  .label p:hover {
    background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #131212 84%, #131212 100%);
    font-weight: 500;
  }
  .label p span {
    font-weight: 500;
  }
  .label p span:hover {
    font-weight: 600;
  }
  .label p::after {
    content:"";
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    top: calc(50% - 5px);
    right: 30px;
    transform: rotate(135deg);
  }
  .label p:hover::after {
    border-top: 3px solid white;
    border-right: 3px solid white;
  }
  .check-point:checked + .label p {
    background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #131212 84%, #131212 100%);
  }
  .check-point:checked + .label p::after {
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
  }
  .check-point:checked + .label + .main-contents {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .nav-menu ul {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(160, 160, 160);
    z-index: 2;
  }
  .nav-menu li {
    margin: 30px auto;
    position: relative;
    width: 40px;
    height: 30px;
  }
  .nav-menu i {
    display: block;
    text-align: center;
    cursor: pointer;
    color: #4b4b4b;
  }
  .nav-menu i:hover {
    color: #131212;
  }
  .nav-menu p {
    padding: 7px 10px;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: default;
  }
  .nav-menu p:hover {
    font-weight: 600;
    color: white;
  } 
  .box01 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -17px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box01:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 24px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box02 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -34px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box02:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 41px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box03 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -18px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box03:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 25px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box04 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -36px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box04:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 43px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
  .box05 {
    position: absolute;
    width: auto;
    height: auto;
    top: -50px;
    left: -29px;
    border-radius: 4px;
    background: #131212;
    display: none;
  }
  .box05:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    left: 35px;
    border: 13px solid transparent;
    border-top: 13px solid #131212;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 120px auto 430px 50px;
  }
  .content-item {
    position: relative;
    top: -130px;
  }
  .content-items {
    position: relative;
    top: -110px;
  }
  .menu-list p {
    font-size: 20px;
    text-indent: 1rem;
  }
  .label p {
    font-size: 20px;
    background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #4b4b4b 84%, #4b4b4b 100%);
    padding: 14px 0 14px 20px;
  }
  .label p:hover {
    background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #131212 84%, #131212 100%);
    font-weight: 500;
  }
  .label p::after {
    width: 8px;
    height: 8px;
    top: calc(50% - 1px);
  }
  .check-point:checked + .label p {
    background: linear-gradient(180deg, #003956 0%, #003956 80%, rgb(174, 0, 0) 80%, rgb(174, 0, 0) 84%, #131212 84%, #131212 100%);
  }
  .selectbox h2 {
    font-size: 16px;
    padding-left: 15px;
  }
  .selectbox select {
    width: 100px;
    font-size: 12px;
  }
  .reps {
    padding-left: 29%;
  }
  .reps {
    padding-left: 33%;
  }
  .selectbox a {
    width: 100px;
    font-size: 10px;
  }
  .todo {
    font-size: 16px;
    padding-left: 15px;
  }
  .todo:last-child {
    font-size: 12px;
    padding-left: 25px;
  }
  .item a {
    width: 100px;
    font-size: 10px;
  }
  .nav-menu ul {
    height: 60px;
    align-items: center;
  }
  .nav-menu i {
    font-size: 25px;
    padding-top: 5px;
  }
}

@media (hover: hover) {
  .nav-menu li:hover .box01 {
    display: block;
  }
  .nav-menu li:hover .box02 {
    display: block;
  }
  .nav-menu li:hover .box03 {
    display: block;
  } 
  .nav-menu li:hover .box04 {
    display: block;
  } 
  .nav-menu li:hover .box05 {
    display: block;
  }  
}
